doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Signup
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css")
  body
    // 上方訊息（沿用你的 partial）
    include ../partials/message

    // 新增導覽列（只加樣式，無改動邏輯）
    nav.navbar.navbar-expand-md.bg-body.border-bottom(data-bs-theme="light")
      .container
        a.navbar-brand(href="/") Group Todos
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#mainNav", aria-controls="mainNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #mainNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/auth/signin") Sign In
            li.nav-item
              a.nav-link(href="/auth/signup") Sign Up

    // 主要內容（僅加 Bootstrap 樣式；表單 action/欄位不變）
    main
      .container.min-vh-100.d-flex.align-items-center.justify-content-center.py-5
        .col-12.col-sm-10.col-md-7.col-lg-5
          .card.shadow-sm
            .card-body.p-4.p-md-5
              h1.h4.text-center.mb-4 Reset password!
              form(action="/api/auth/reset-password/confirm", method="POST")
                  input(type="hidden" name="_csrf" value=csrfToken) 
                .mb-3
                  input.form-control(type="text", name="newPassword", placeholder="New Password", value="foo")
                .mb-3
                  input.form-control(type="text", name="confirmPassword", placeholder="Confirm Password", value="foo")
                button.btn.btn-primary.w-100(type="submit") Reset Password

    // Bootstrap JS（只為 navbar 漢堡鍵需要）
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js")
