<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= task.title %></title>
  </head>
  <body>
    <a href="">Edit</a>
    <h1><%= task.title %></h1>
    <p>Status: <%= task.status.toLowerCase() %></p>
  </body>
</html>
