<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/temporary-style') %>
    <title>User Page</title>
  </head>
  <body>
    <a href="/tasks/home">Task Board</a>
    <h1>Hi , <%= name %></h1>
    <%- include('../partials/message', { flash: flash }) %>
    <p>This is user page</p>
    <form action="/api/auth/signout" method="POST">
      <button>Sign out</button>
    </form>
    <form action="/api/auth/change-password" method="POST">
      <label for="old-password">Change password</label>
      <input
        type="text"
        placeholder="Old password"
        name="oldPassword"
        id="old-password"
        value="test"
      />
      <label for="new-password">Change password</label>
      <input
        type="text"
        placeholder="New password"
        name="newPassword"
        id="new-password"
        value="test1"
      />
      <button>Change password</button>
    </form>
  </body>
</html>
